body {
    font-size: 20px;
}

img {
    border-bottom-color: lightcoral;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 15px;
    margin-top: 25px;
    max-width: inherit;
    margin-right: 35px;
}

#info {
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

#information {
    background-color: #f2e6b5;
  }

#info, #links {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

.about {
    display: table;
}

.cell{
    display: table-cell;
    vertical-align:text-bottom;
    background-color: burlywood;
}
