img {
    border-radius: 600%;
    padding-left: 4px;
    padding-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#right {
    list-style-type: none;
    text-align: right;
    font-size: 9em;
    font-family:monospace;
}

#left {
    list-style-type: none;
    text-align: left;
    font-size: 9em;
    font-family: sans-serif;
}

table {
    background-color: deeppink 255, 212, 0.08);
}

#photo {
    background-color: deeppink 255, 255, 0.13);
}

#left li {
    padding-right: 20px;
}