.table {
    display: table;
    background-color:fuchsia;
    margin-right 5px;
    padding-top: 3px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.table-cell {
    display: table-cell;
    vertical-align: text-top;
}

.table    { display: table }

tr       { display: table-row }

img {
    border-radius: 10%;
    padding-left: 4px;
    padding-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#photo {
    background-color:lightgray;

#right {
    text-align: right;
    font-size: 36em;
    font-family: sans-serif;
}

#left {
    text-align: right;
    font-size: 36em;
    font-family:serif;
}
